<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
    <delete id="deleteStudent" parameterType="com.nsfocus.bean.User">
        DELETE form gm_student WHERE studentname=#{username};
    </delete>
    <insert id="insertStudent" parameterType="com.nsfocus.bean.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gm_student studentname VALUES #{username};
    </insert>
</mapper>
