<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TeacherMapper">
    <delete id="deleteTeacher" parameterType="com.nsfocus.bean.User">
        DELETE FROM  gm_teacher WHERE teachername=#{username};
    </delete>
    <insert id="insertTeacher" parameterType="com.nsfocus.bean.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gm_teacher (teachername) VALUE (#{username});
    </insert>
    <select id="queryTeacher" parameterType="int" resultType="com.nsfocus.bean.Teacher">
        SELECT * FROM gm_teacher WHERE id=#{id}
    </select>
    <select id="queryTeacherByUser" parameterType="com.nsfocus.bean.User" resultType="com.nsfocus.bean.Teacher">
        SELECT * FROM gm_teacher WHERE teachername=#{username}
    </select>
</mapper>
